@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: "Raleway", sans-serif; }

.container {
  width: 90%;
  margin: auto; }
  @media (max-width: 768px) {
    .container {
      width: 100%; } }

a {
  text-decoration: none; }
  a:hover {
    transition: 0.6s ease; }

p {
  color: #757985;
  line-height: 1.6; }

ul {
  list-style-type: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(img/infinite-loop-01.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
  background-attachment: fixed; }
  header .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px; }
    header .container nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .container nav ul li a {
        color: white;
        size: 1.4rem;
        padding: 10px; }
        header .container nav ul li a:hover {
          background-color: #335578;
          transition: 0.6s ease; }
    header .container nav .logo h4 {
      color: white;
      font-size: 1.8rem;
      font-weight: 600; }
      header .container nav .logo h4:hover {
        color: #38B;
        transition: 0.6s ease;
        cursor: pointer; }
  header .container hgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    text-shadow: 5px 5px 10px black; }
    header .container hgroup h1 {
      font-size: 4rem;
      font-weight: 500;
      padding-bottom: 20px; }
    header .container hgroup h4 {
      font-size: 1.7rem;
      font-weight: 500; }
  header .container .arrow {
    display: flex;
    justify-content: center;
    align-items: center; }
    header .container .arrow a {
      background-color: #335578; }
      header .container .arrow a:hover {
        background-color: #38B;
        transform: scale(1.1);
        transition: 0.6s ease; }
      header .container .arrow a i {
        color: white;
        font-size: 2.5rem;
        padding: 20px 40px; }

.about {
  padding: 50px 0px; }
  .about .container hgroup {
    padding-bottom: 30px; }
    .about .container hgroup h3 {
      color: #335578;
      font-size: 3rem;
      padding-bottom: 20px; }
    .about .container hgroup p {
      font-size: 1.3rem; }
  .about .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .about .container .row article {
      flex: 0 0 45%;
      padding-bottom: 30px; }
      .about .container .row article h4 {
        color: #335578;
        font-size: 2.7rem;
        padding: 15px; }
        .about .container .row article h4 i {
          padding: 10px; }
      .about .container .row article p {
        font-size: 1.3rem;
        padding-bottom: 20px; }
      .about .container .row article button {
        padding: 15px 25px;
        font-size: 1.3rem;
        color: white;
        background-color: #335578;
        border: none; }
        .about .container .row article button:hover {
          background-color: #38B;
          transition: 0.6s ease;
          cursor: pointer; }

.testimonial {
  background-image: url(img/infinite-loop-02.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  padding: 50px 0px; }
  .testimonial .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .testimonial .container hgroup {
      text-align: center; }
      .testimonial .container hgroup h2 {
        font-size: 3rem;
        color: white;
        padding-bottom: 20px; }
      .testimonial .container hgroup p {
        color: white; }
    .testimonial .container .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 30px; }
      .testimonial .container .row article {
        flex: 0 0 30%;
        text-align: center; }
        .testimonial .container .row article img {
          border-radius: 100%; }
        .testimonial .container .row article p {
          text-align: left;
          color: white;
          padding: 10px 35px; }
        .testimonial .container .row article h5 {
          font-size: 1.3rem;
          color: white;
          text-align: right;
          font-style: italic;
          font-weight: 200; }

.gallery {
  padding: 50px 0px; }
  .gallery .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .gallery .container hgroup {
      text-align: center;
      padding-bottom: 20px; }
      .gallery .container hgroup h2 {
        font-size: 3rem;
        padding-bottom: 20px;
        color: #335578; }
    .gallery .container .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }
      .gallery .container .row article {
        flex: 0 0 18%; }
        .gallery .container .row article img {
          width: 100%;
          height: 100%; }
          .gallery .container .row article img:hover {
            transform: scale(1.1);
            transition-duration: 0.4s; }

/*# sourceMappingURL=style.css.map */
