@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,900;1,700&display=swap');


// VARIABLES
$blue:#335578;
$lightBlue: #38B;
$white:white;
$transition: .6s ease;
$padding:50px 0px;
$darkGray:#757985;



// DEAFULT STYLES

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
}

.container {
    width: 90%;
    margin: auto;

    @media(max-width:768px) {
        width: 100%;
    }
}

a {
    text-decoration: none;

    &:hover {
        transition: $transition;
    }
}
p {
    color: $darkGray;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}         

// HEADER SECTION

header{
    background-image:linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)),
    url(img/infinite-loop-01.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: $white;
    background-attachment: fixed;

    .container{

        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0px;

            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;

                li{
                   

                    a{
                        color: $white;
                        size: 1.4rem;
                        padding: 10px;


                        &:hover{
                            background-color: $blue;
                            transition: $transition;
                        }
                    }
                }
            }

            .logo{

                h4{
                    color: $white;
                    font-size: 1.8rem;
                    font-weight: 600;

                    &:hover{
                        color: $lightBlue;
                        transition: $transition;
                        cursor: pointer;
                    }
                }
            }
        }

        hgroup{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 60vh;
            text-shadow: 5px 5px 10px black;

            h1{
                font-size: 4rem;
                font-weight: 500;
                padding-bottom: 20px;

            }

            h4{
                font-size: 1.7rem;
                font-weight: 500;
            }
        } 

        .arrow {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                background-color: $blue;

                &:hover{
                    background-color: $lightBlue;
                    transform: scale(1.1);
                    transition: $transition;
                }

                i {
                    color: $white;
                    font-size: 2.5rem;
                    padding: 20px 40px;

                }
            }
        }
    }
}


// ABOUT SECTION

.about {
    padding: $padding;

    .container{

        hgroup{
            padding-bottom: 30px;

            h3{
                color: $blue;
                font-size: 3rem;
                padding-bottom: 20px;

            }

            p{
                font-size: 1.3rem;

            }
        }


        .row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;    
            
            article{
                flex: 0 0 45%;
                padding-bottom: 30px;


                h4{
                    color: $blue;
                    font-size: 2.7rem;
                    padding: 15px;

                    i{
                        padding: 10px;
                    }

                }
                p{
                    font-size: 1.3rem;
                    padding-bottom: 20px;
                }
               
                button{
                    padding: 15px 25px;
                    font-size: 1.3rem;
                    color: $white;
                    background-color: $blue;
                    border: none;

                    &:hover{
                        background-color: $lightBlue;
                        transition: $transition;
                        cursor: pointer;
                        
                    }
                }
            }
        }
    }

}


// TESTIMONIAL SECTION

.testimonial{
    background-image: url(img/infinite-loop-02.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-attachment:fixed ;
    padding: $padding;


    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        hgroup{
            text-align: center;


            h2{
                font-size: 3rem;
                color: $white;
                padding-bottom: 20px;
            }

            p{
                color: $white;
            }
        }


        .row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 30px;

            article{
                flex: 0 0 30%;
                text-align: center;


                img{
                    border-radius: 100%;
                }

                p{
                    text-align: left;
                    color: $white;
                    padding: 10px 35px;
                }

                h5{
                    font-size: 1.3rem;
                    color: $white;
                    text-align: right;
                    font-style: italic;
                    font-weight: 200;
                }
            }

        }
    }

}



// GALLERY SECTION

.gallery{
    padding: $padding;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        hgroup{
            text-align: center;
            padding-bottom: 20px;

            h2{
                font-size: 3rem;
                padding-bottom: 20px;
                color: $blue;
            }
        }

        .row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            article{
                flex: 0 0 18%;

                img{
                    width: 100%;
                    height: 100%;

                    &:hover{
                        transform: scale(1.1);
                        transition-duration: 0.4s;
                    }
                }
            }
        }
    }
}


// CONTACT SECTION

.contact{
    padding: $padding;
    background-image: url(img/infinite-loop-03.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;


    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
       
       
        p{
            color: $white;
        }

        hgroup{
            text-align: center;
            padding-bottom: 30px;


            h2{
                font-size: 3rem;
                color: $white;
                padding-bottom: 20px;
            }

        }

        .row{
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
            padding-bottom: 30px;


            article{
                flex: 0 0 40%;

                form {

                    input {
                        padding: 10px;
                        margin-bottom: 20px;
                        width: 100%;
                        background: none;
                        border: 1.5px solid $white;
                        font-size: 1.2rem;
                        color: white;
                        outline: none;
                        border-radius: 5px;

                        &::placeholder {
                            color: white;
                        }
                    }

                    textarea {
                        padding: 20px;
                        margin-bottom: 20px;
                        width: 100%;
                        background: none;
                        border: 1.5px solid $white;
                        font-size: 1.2rem;
                        color: white;
                        outline: none;
                        border-radius: 5px;

                        &::placeholder {
                            color: white;
                        }
                 
                    }

                    button {
                        padding: 10px 25px;
                        font-size: 1.3rem;
                        width: 55%;
                        color: $white;
                        background-color: $blue;
                        border: none;
                        border-radius: 5px;

                        &:hover {
                            background-color: $lightBlue;
                            transition: $transition;
                            cursor: pointer;
                        }
                    }
                }
                  
                
                .col {
                    display: flex;
                    flex-direction: column;
                    

                    a{
                        color: $white;
                        font-size: 2rem;
                        padding-bottom: 50px;

                        &:hover {
                            color: $lightBlue;
                            transition: $transition;
                        }
                    }

                }    
            
            }
        }
    }
}